### Genel Analiz

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("SignalTransmission.csv")
data.head()

                        _id                game  ...  IsCorrect responseTime
0  6001a0ae106f0000cc0057a6  SignalTransmission  ...       True     0.663181
1  6001a0ae106f0000cc0057a3  SignalTransmission  ...       True     1.113787
2  6001a0ae106f0000cc0057a4  SignalTransmission  ...       True     1.724293
3  6001a0b0106f0000cc0057a8  SignalTransmission  ...       True     1.674227
4  6001a0b2106f0000cc0057aa  SignalTransmission  ...       True     1.663315

[5 rows x 10 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _id                 123 non-null    object
 1   game                123 non-null    object
 2   StimuliNo           123 non-null    int64
 3   universalTimeStamp  123 non-null    object
 4   level               123 non-null    int64
 5   state               123 non-null    object
 6   targetStimuli       123 non-null    object
 7   pressedButton       123 non-null    object
 8   IsCorrect           123 non-null    bool
 9   responseTime        123 non-null    float64
dtypes: bool(1), float64(1), int64(2), object(6)
memory usage: 8.9+ KB

In [ ]:
data.isnull().sum().sum()

0

In [ ]:
data.IsCorrect.unique()

array([ True, False])

In [ ]:
data[data["IsCorrect"]==True]["responseTime"].mean()

0.9944971875

### Max level for specific id's

In [ ]:
data1 = data.loc[:,['level','_id']].groupby('_id').describe()
data1.head()

                         level
                         count mean std  min  25%  50%  75%  max
_id
6001a0ae106f0000cc0057a3   1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0
6001a0ae106f0000cc0057a4   1.0  0.0 NaN  0.0  0.0  0.0  0.0  0.0
6001a0ae106f0000cc0057a6   1.0  2.0 NaN  2.0  2.0  2.0  2.0  2.0
6001a0b0106f0000cc0057a8   1.0  2.0 NaN  2.0  2.0  2.0  2.0  2.0
6001a0b2106f0000cc0057aa   1.0  3.0 NaN  3.0  3.0  3.0  3.0  3.0

In [ ]:
data.level.max()

49

In [ ]:
data.state.unique()

array(['Normal', 'Reverse'], dtype=object)

### State-IsCorrect

In [ ]:
state_iscorrect = data.loc[:, ['state', 'IsCorrect']]

In [ ]:
state_iscorrect

       state  IsCorrect
0     Normal       True
1     Normal       True
2     Normal       True
3     Normal       True
4     Normal       True
..       ...        ...
118   Normal       True
119  Reverse       True
120   Normal      False
121  Reverse       True
122   Normal       True

[123 rows x 2 columns]

In [ ]:
by_state = state_iscorrect.groupby('state').count()

In [ ]:
by_iscorrect = state_iscorrect.groupby('IsCorrect').count()

In [ ]:
by_state

         IsCorrect
state
Normal          70
Reverse         53

In [ ]:
by_iscorrect

           state
IsCorrect
False         11
True         112

In [ ]:
#data[data["IsCorrect"]==True][data["state"] == 'Normal'].count()

In [ ]:
x = data.groupby('state').IsCorrect.agg(['sum'])

In [ ]:
x

         sum
state
Normal    65
Reverse   47

In [ ]:
x['state'] = by_state

In [ ]:
x

         sum  state
state
Normal    65     70
Reverse   47     53

In [ ]:
x['ratio'] = (x['sum'] / x['state']) * 100

In [ ]:
x

         sum  state      ratio
state
Normal    65     70  92.857143
Reverse   47     53  88.679245

In [ ]:
data.columns

Index(['_id', 'game', 'StimuliNo', 'universalTimeStamp', 'level', 'state',
       'targetStimuli', 'pressedButton', 'IsCorrect', 'responseTime'],
      dtype='object')

### Video-Audio

In [ ]:
video_audio_rt = data.loc[:, ['targetStimuli', 'IsCorrect']]

In [ ]:
video_audio_rt

    targetStimuli  IsCorrect
0           Video       True
1           Video       True
2           Video       True
3        Parasite       True
4        Parasite       True
..            ...        ...
118         Audio       True
119         Audio       True
120         Video      False
121      Parasite       True
122         Audio       True

[123 rows x 2 columns]

In [ ]:
video_audio_rt.targetStimuli.unique()

array(['Video', 'Parasite', 'Audio'], dtype=object)

In [ ]:
dropped_vart = video_audio_rt[video_audio_rt['targetStimuli'] != 'Parasite']

In [ ]:
dropped_vart.shape

(83, 2)

In [ ]:
by_target = dropped_vart.groupby('targetStimuli').count()

In [ ]:
by_iscorrect1 = dropped_vart.groupby('IsCorrect').count()

In [ ]:
y = dropped_vart.groupby('targetStimuli').IsCorrect.agg(['sum'])

In [ ]:
#y

In [ ]:
#by_target

In [ ]:
#by_iscorrect1

In [ ]:
y['targer'] = by_target

In [ ]:
y['ratio'] = (y['sum'] / y['targer']) * 100

In [ ]:
y

               sum  targer      ratio
targetStimuli
Audio           38      43  88.372093
Video           35      40  87.500000

### Target-RT

In [ ]:
target_rt_ = data.loc[:, ['targetStimuli', 'responseTime','IsCorrect']]

In [ ]:
dropped_target_rt_ = target_rt_[target_rt_['targetStimuli'] != 'Parasite']

In [ ]:
dropped1_target_rt_ = dropped_target_rt_[dropped_target_rt_['IsCorrect'] != False]

In [ ]:
dropped1_target_rt_.IsCorrect.unique()

array([ True])

In [ ]:
target_rt_audio = dropped1_target_rt_[dropped1_target_rt_["targetStimuli"]=='Audio']["responseTime"].mean()

In [ ]:
target_rt_video = dropped1_target_rt_[dropped1_target_rt_["targetStimuli"]=='Video']["responseTime"].mean()

### pressedButton - IsCorrect - RT

In [ ]:
dropped_data = data[data['targetStimuli'] != 'Parasite']

In [ ]:
pb_ic_rt = dropped_data.loc[:, ['pressedButton', 'IsCorrect','responseTime']]

In [ ]:
pb_ic_rt

    pressedButton  IsCorrect  responseTime
0            Left       True      0.663181
1            Left       True      1.113787
2           Right       True      1.724293
5           Right       True      0.812568
6           Right       True      0.662748
..            ...        ...           ...
117          Left       True      0.849507
118         Right       True      0.112156
119         Right       True      0.112156
120         Right      False      0.149721
122         Right       True      0.887665

[83 rows x 3 columns]

In [ ]:
by_button = pb_ic_rt.groupby('pressedButton').count()

In [ ]:
by_button

               IsCorrect  responseTime
pressedButton
Left                  44            44
Right                 39            39

In [ ]:
by_iscorrect2 = pb_ic_rt.groupby('IsCorrect').count()

In [ ]:
by_iscorrect2

           pressedButton  responseTime
IsCorrect
False                 10            10
True                  73            73

In [ ]:
z = pb_ic_rt.groupby('pressedButton').IsCorrect.agg(['sum'])

In [ ]:
z

               sum
pressedButton
Left            40
Right           33

In [ ]:
dropped_by_button = by_button.drop('responseTime', axis=1)

In [ ]:
z['isCorrect'] = dropped_by_button

In [ ]:
z

               sum  isCorrect
pressedButton
Left            40         44
Right           33         39

In [ ]:
z['ratio'] = (z['sum'] / z['isCorrect']) * 100

In [ ]:
z

               sum  isCorrect      ratio
pressedButton
Left            40         44  90.909091
Right           33         39  84.615385

### pressedButton - reactionTime

In [ ]:
pb_ic_rt

    pressedButton  IsCorrect  responseTime
0            Left       True      0.663181
1            Left       True      1.113787
2           Right       True      1.724293
5           Right       True      0.812568
6           Right       True      0.662748
..            ...        ...           ...
117          Left       True      0.849507
118         Right       True      0.112156
119         Right       True      0.112156
120         Right      False      0.149721
122         Right       True      0.887665

[83 rows x 3 columns]

In [ ]:
trues_only = pb_ic_rt[pb_ic_rt['IsCorrect'] != False]

In [ ]:
trues_only

    pressedButton  IsCorrect  responseTime
0            Left       True      0.663181
1            Left       True      1.113787
2           Right       True      1.724293
5           Right       True      0.812568
6           Right       True      0.662748
..            ...        ...           ...
116          Left       True      0.849507
117          Left       True      0.849507
118         Right       True      0.112156
119         Right       True      0.112156
122         Right       True      0.887665

[73 rows x 3 columns]

In [ ]:
right = trues_only[trues_only["pressedButton"] == 'Right']["responseTime"].mean()

In [ ]:
left = trues_only[trues_only["pressedButton"] == 'Left']["responseTime"].mean()

### Reverse - Normal

In [ ]:
state_iscorrect

       state  IsCorrect
0     Normal       True
1     Normal       True
2     Normal       True
3     Normal       True
4     Normal       True
..       ...        ...
118   Normal       True
119  Reverse       True
120   Normal      False
121  Reverse       True
122   Normal       True

[123 rows x 2 columns]

In [ ]:
data.columns

Index(['_id', 'game', 'StimuliNo', 'universalTimeStamp', 'level', 'state',
       'targetStimuli', 'pressedButton', 'IsCorrect', 'responseTime'],
      dtype='object')

In [ ]:
#data_d = data[data['targetStimuli'] != 'Parasite']

In [ ]:
t = data_d.loc[:, ['state', 'IsCorrect']]

In [ ]:
t

       state  IsCorrect
0     Normal       True
1     Normal       True
2     Normal       True
3     Normal       True
4     Normal       True
..       ...        ...
118   Normal       True
119  Reverse       True
120   Normal      False
121  Reverse       True
122   Normal       True

[123 rows x 2 columns]

In [ ]:
temp = ""
t["Status"] = "None"

for i in range(len(t.index)):
  if i == len(t) - 1:
    t["Status"].iloc[i] = "Stable"
    break
  if t["state"].iloc[i] != t["state"].iloc[i+1]:
    temp = "Changed"
  else:
    temp = "Stable"

  t["Status"].iloc[i] = temp

print(t)

       state  IsCorrect   Status
0     Normal       True   Stable
1     Normal       True   Stable
2     Normal       True   Stable
3     Normal       True   Stable
4     Normal       True   Stable
..       ...        ...      ...
118   Normal       True  Changed
119  Reverse       True  Changed
120   Normal      False  Changed
121  Reverse       True  Changed
122   Normal       True   Stable

[123 rows x 3 columns]

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
t

       state  IsCorrect   Status
0     Normal       True   Stable
1     Normal       True   Stable
2     Normal       True   Stable
3     Normal       True   Stable
4     Normal       True   Stable
..       ...        ...      ...
118   Normal       True  Changed
119  Reverse       True  Changed
120   Normal      False  Changed
121  Reverse       True  Changed
122   Normal       True   Stable

[123 rows x 3 columns]

In [ ]:
by_status = t.groupby('Status').count()

In [ ]:
by_iscorrect3 = t.groupby('IsCorrect').count()

In [ ]:
q = t.groupby('Status').IsCorrect.agg(['sum'])

In [ ]:
q

         sum
Status
Changed   64
Stable    48

In [ ]:
by_iscorrect3

           state  Status
IsCorrect
False         11      11
True         112     112

In [ ]:
dropped_by_status = by_status.drop(['IsCorrect'], axis=1)

In [ ]:
dropped_by_status

         state
Status
Changed     72
Stable      51

In [ ]:
q["Total"] = dropped_by_status

In [ ]:
q

         sum  Total
Status
Changed   64     72
Stable    48     51

In [ ]:
q["ratio"] = (q["sum"] / q["Total"]) * 100

In [ ]:
q

         sum  Total      ratio
Status
Changed   64     72  88.888889
Stable    48     51  94.117647

## Summary

### State-IsCorrect

In [ ]:
x

         sum  state      ratio
state
Normal    65     70  92.857143
Reverse   47     53  88.679245

### Video-Audio

In [ ]:
y

               sum  targer      ratio
targetStimuli
Audio           38      43  88.372093
Video           35      40  87.500000

### Target-RT

In [ ]:
target_rt_audio

0.8755353157894735

In [ ]:
target_rt_video

0.840016685714286

### PressedButton-IsCorrect

In [ ]:
z

               sum  isCorrect      ratio
pressedButton
Left            40         44  90.909091
Right           33         39  84.615385

### PressedButton-RT

In [ ]:
right

0.8888124242424243

In [ ]:
left

0.8335029000000003

### Reverse-Normal

In [ ]:
q

         sum  Total      ratio
Status
Changed   64     72  88.888889
Stable    48     51  94.117647